
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,300&display=swap');
:root {
  --mybox-shadow: 0 5px 5px rgba(192, 253, 191, 0.2);
  --myfontt-family2: 'Rosario', sans-serif;
  --myfont-family : 'Rochester', sans-serif;
  --mytext-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  --myfont-size-text : 18px;
  --myfont-size-title : 48px;
  --myborder-box: 2px solid #6CBA6A;
  
}
body {
  background-color: rgb(42, 40, 40);
  padding: 0px;
  margin: 0px;
}

/* ------------------NavBar----------------*/
.barreNav{
  background-color: black;
  font-family: var(--myfont-family);
  font-size: var(--myfont-size-text);
  z-index: 10;
  text-shadow: var(--mytext-shadow);
  box-shadow: var(--mybox-shadow);
}
.navbar-brand img{
  width: 80%;
}


/* ------------------Video----------------*/
.vid-image{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--mybox-shadow);
}
.vid01{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img01{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit:cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------------------Acceuil----------------*/
.hero-banner {
  color: #ffff;
  position: relative;
  margin-top: 50%;
  text-align: center;
  font-family: var(--myfont-family);
  text-shadow: var(--mytext-shadow);
  font-size: var(--myfont-size-title);
}
.hero-banner h2{
  font: var(--myfont-size-title)
}
.hero-banner p{
  position: relative;
  margin-top: 100px;
  text-align: center;
  font-size: var(--myfont-size-text);
}
/* ------------------Qui sommes-nous----------------*/
.space{
  height: 60px;
}
.qsn {
  letter-spacing: 1px;
  background: #3C3535;
  border: var(--myborder-box);
  box-shadow: var(--mybox-shadow);
  font-family: var(--myfont-family);
}
.qsn p{
  font-size: var(--myfont-size-text);
  font-family: var(--myfontt-family2);
}
.qsn p .knowMore{
  color: rgba(108, 186, 106, 0.5);
}
.qsn p .knowMore:hover{
  color: #6CBA6A;
  cursor: pointer;
  text-decoration: none;
}
.row{
  margin: 0;
  padding: 0;
}
.chefs{
  height: 250px;
  width: 250px;
  border: var(--myborder-box);
  box-shadow: var(--mybox-shadow);
}

/* ------------------Nos Evenements----------------*/

.carousel-item .carousel-img{
  margin-left: 25%;
}

/* ------------------NewsLetter----------------*/

.formText{
  font-family: 'Rosario';
}
.form-btn{
  color: #ffff;
  border: var(--myborder-box);
  background-color:grey;
  width: 50%;
}
.form-btn:hover {
  background-color: #6CBA6A;
}
.form-control{
  background-color: grey;
  border: var(--myborder-box);
}
.form-control::placeholder{
  color: #ffff;
}

/* ------------------Footer----------------*/

a .fab{
  font-size: 3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter-square{
  color: #00aced;
}
.fa-instagram{
  color: #d4b779;
}
.fab:hover{
  color: grey;
}
li{
  font-size: 2rem;
}
li a {
  text-decoration: none;
}
/* ------------------Media Queries----------------*/
@media screen and (min-width: 576px) {
  .hero-banner {
    margin-top: 300px;
  }
  .hero-banner p{
    font-size: var(--myfont-size-title);
  }

}
